.cred-experience {
    background-color: var(--bg-blue);
    background-image: url(https://images.unsplash.com/photo-1561211950-8b1eb6114d6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  }
  
  @media all and (max-width: 1279px) {
    .cred-experience {
      background-position: center bottom;
    }
  }
  
  @media all and (max-width: 767px) {
    .cred-experience {
      background-image: url(https://images.unsplash.com/photo-1561211950-8b1eb6114d6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
      background-position: right center;
    }
  
  
  
    .photo-section-description {
      margin-top: 10px;
    }
  
    .photo-section-heading {
      margin-top: 10px;
    }
    .photo-section-subheading{
      margin-top: -2px;
      margin-bottom: 100px;
    }
  }
  